<div id="m-header">
  <a id="m-logo" href="https://mathigon.org" target="_blank"></a>
  <div id="m-social">
    <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Ffacebook.com%2Fmathigon&width=140&layout=button_count&action=like&size=small&show_faces=false&share=true&height=46&appId=1631119410444277" width="140" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://world.mathigon.org" data-via="MathigonProject">Tweet</a>   
  </div>
</div>