<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>{{title}} | World of Mathematics</title>
<meta name="description" content="{{description}} | An interactive textbook">

<!-- Settings -->
<link rel="canonical" href="http://world.mathigon.org">
<meta name="format-detection" content="telephone=no">

<!-- Mobile Data -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="480">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="cleartype" content="on">

<!-- Favicons -->
<link rel="shortcut icon"    type="image/x-icon" href="/images/favicons/favicon.ico"  />
<link rel="icon"             type="image/png"    href="/images/favicons/favicon32.png" >

<!-- iOS Web Apps -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Mathigon">
<link rel="apple-touch-icon" sizes="120x120"     href="/images/favicons/favicon120.png">
<link rel="apple-touch-icon" sizes="152x152"     href="/images/favicons/favicon152.png">

<!-- Android Web Apps -->
<meta name="mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-title" content="Mathigon">

<!-- Tile icon for Windows 8 -->
<meta name="application-name" content="Mathigon">
<meta name="msapplication-tooltip" content="{{description}} | An interactive textbook">
<meta name="msapplication-TileImage" content="/images/favicons/win8.png">
<meta name="msapplication-TileColor" content="#d808583">
<meta name="msapplication-tap-highlight" content="no">

<!-- Facebook Open Graph -->
<meta property="og:title"       content="{{title}} | World of Mathematics"/>
<meta property="og:description" content="{{description}} | An interactive textbook"/>
<meta property="og:url"         content="http://world.mathigon.org/{{id}}"/>
<meta property="og:type"        content="school"/>
<meta property="og:site_name"   content="World of Mathematics"/>
<!--(bake-start _if="id")--><meta property="og:image" content="http://world.mathigon.org/images/squares/{{id}}.jpg"/><!--(bake-end)-->
<!--(bake-start _if="favicon")--><meta property="og:image" content="http://world.mathigon.org/{{favicon}}"/><!--(bake-end)-->

<!-- Twitter Cards -->
<meta name="twitter:card"        content="summary_large_image">
<meta name="twitter:title"       content="{{title}} | World of Mathematics">
<meta name="twitter:description" content="{{description}} | An interactive textbook">
<meta name="twitter:image"       content="http://mathigon.org/favicons/twitter.png">
<meta name="twitter:site"        content="@MathigonProject">
<meta name="twitter:creator"     content="@philipplegner">

<!-- Stylesheets -->
<link rel="stylesheet" href="/css/global.min.css?v=4">
<link rel="stylesheet" href="/css/layout.min.css?v=6">
<link rel="stylesheet" href="/css/articles.min.css?v=4">

<!-- Webfonts -->
<script type="text/javascript" src="//use.typekit.net/goo3uth.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<!-- Compatibility -->
<!--[if lt IE 9]> <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
