<!-- Libraries -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
<script>window.jQuery || document.write('<script src="scripts/jquery-203.js"><\/script>')</script>

<!-- Scripts -->
<script src="/scripts/layout.min.js?v=5"></script>

<!-- Social -->
<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>

<!-- Google Analytics -->
<script>
  window.ga = window.ga || function() { (ga.q = ga.q||[]).push(arguments) }; ga.l = 1 * new Date();
  ga('create', 'UA-37525836-3', 'auto', {'cookieDomain': 'mathigon.org'});
  ga('require', 'displayfeatures');
  ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

<!-- Google Ads -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
