<!DOCTYPE html>
<html class="no-js reading">

  <head>
    <!--(bake head.html title="{{title}}" description="{{description}}" id="{{id}}")-->
  </head>

  <body id="body">

    <div id="m-header"><a id="m-logo" href="https://mathigon.org" target="_blank"></a></div>

    <div id="chapters" class="on0"></div>
    <!--[if lt IE 10]><div id="browserWarning"><p>You are using an outdated browser. Why not try <a href="https://www.google.com/chrome/" target="_blank">Google Chrome</a>?</p></div><![endif]-->
    <div id="shadow"></div>
    <div class="topBarSmall"><div class="tIconPrev"></div><div class="tIconClose"></div></div>

    <article id="A1" data-url="">
      <div class="topBarA">
        <div class="topBarBack"><div class="topBarIcon"></div>BACK</div>
        <div class="topBarClose"><div class="topBarIcon"></div></div>
      </div>
      <div class="abox">
        <header style="background-image: url(images/headers/{{id}}.jpg);" data-url="{{id}}"></header>
        <div class="tBody">

          <div class="ad-box">
            <div class="ad-caption sansSerif">Advertising <span class="ad-hide">&times;</span></div>
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-1647564611720065"
                 data-ad-slot="4704777412"
                 data-ad-format="auto"></ins>
          </div>
