/* ========================================================================= */
/* ================================ GLOBAL ================================ */

.dragdealer, .ui-slider {
    height: 6px;
    width: 90%;
    max-width: 400px;
    margin: 8px auto 8px auto;
    position: relative;
    background-color: #CCC;
    border-radius: 4px;
    box-shadow: inset 0 0 2px #666;
}

.handle {
    position: absolute;
    display: block;
    cursor: pointer;
    width: 16px;
    height: 16px;
    border: 1px solid #AAA;
    top: -6px !important;
    border-radius: 10px;

    background: #EEE ;
    background-image: -webkit-linear-gradient(top, #FDFDFD 0%, #DDD 100%);
    background-image:    -moz-linear-gradient(top, #FDFDFD 0%, #DDD 100%);
    background-image:         linear-gradient(to bottom, #FDFDFD 0%, #DDD 100%);
}

a.ui-slider-handle {
    position: absolute;
    display: block;
    cursor: default;
    width: 18px;
    height: 18px;
    padding: 13px;
    top: -19px !important;
    margin-left: -22px;
}

a.ui-slider-handle div {
    cursor: pointer;
    width: 16px;
    height: 16px;
    border: 1px solid #AAA;

    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;

    background: #EEE ;
    background-image: -webkit-linear-gradient(top, #FDFDFD 0%, #DDD 100%);
    background-image:    -moz-linear-gradient(top, #FDFDFD 0%, #DDD 100%);
    background-image:         linear-gradient(to bottom, #FDFDFD 0%, #DDD 100%);
}

a.ibox {
    padding: 0.8em 1em 0 6.6em;
    font-size: 14px;
    display: block;
    color: #000;
    text-decoration: none;
    position: relative;
    height: 3.8em;
    overflow: hidden;
    line-height: 1.1;

    -webkit-transition: background .2s;
    -moz-transition: background .2s;
    transition: background .2s;
}

.ibox img {
    border-right: 1px solid #AAA;
    width: 5.7em;
    height: 3.8em;
    position: absolute;
    top: -1px;
    left: -1px;
}

.ibox .caption {
    font-size: 0.8em;
    color: #888;
}

a.ibox:hover {
    color: #000;
    background: #DDDDDD;
}

article .td_bottom { border-bottom: solid 1px #666; }
article .td_right {  border-right:  solid 1px #666; }

article .td_bottom.tdLight { border-bottom: solid 1px #CCC; }
article .td_right.tdLight {  border-right:  solid 1px #CCC; }

p.thereom {
    display: block;
    margin: 1.5em 2em 1.5em 2em;
    background: #3CF;
    padding: 0.3em !important;
}

.preload {
    width: 1px;
    height: 1px;
    opacity: 0;
    position: absolute;
    top: -1;
    left: -1;
}

.slideshowCaption {
    min-height: 46px;
    padding-bottom: 0;
}

.slideshowLeft, .slideshowRight {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 10px;
    top: 10px;
    background-image: url(../images/box.png);
    background-position: 0 0;
    opacity: 0.2;
    cursor: pointer;

    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    transition: opacity .3s;
}

.slideshowRight {
    background-position: -24px 0;
    left: auto;
    right: 10px;
}

.slideshowLeft:hover, .slideshowRight:hover { opacity: 0.4; }
.slideshowLeft.off, .slideshowRight.off { opacity: 0; cursor: default; }

.slideshowText {
    margin: 0 32px 10px 32px;
    position: relative;
}

.slideshowText  p {
    display: none;
    margin: 0;
    -webkit-font-smoothing: subpixel-antialiased !important;

    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    transition: opacity .5s;
}

.slideshowText p.on {
    display: block;
}

.slideshowText p.on       { opacity: 1; }
.slideshowText p:not(.on) { display: none; opacity: 0; }

.slideshowText.changing p, .slideshowText.changing p:not(.on), .slideshowText.changing p.on {
    position: absolute;
    display: block;
    top: 0;
    width: 100%;
}

.slideshowText.animateHeight {
    -webkit-transition: height .3s;
    -moz-transition: height .3s;
    transition: height .3s;
}

.flexBoxWrap {
    width: 90%;
    margin: 1.5em auto;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.flexBox1 {
    font-size: 0.9em;
    padding: 8px;
    width: 31%;
}

.flexBox1 img { margin: 0 auto 0.5em; display: block; max-width: 100%; height: auto; }
.flexBox1 p   { margin-bottom: 0; text-align: center; }

.spacer {
    width: 50px;
    display: inline-block;
}

.jxgbox {
    position:relative;
    overflow:hidden;
    background-color:#FFF;
    -ms-touch-action: none;
}

.JXGtext {
    background-color: transparent;
    font-family: "futura-pt", Futura Std, "Futura", "Helvetica", sans-serif;
    padding: 0px;
    margin: 0px;
}

.JXGinfobox {
    border-style:none;
    border-width:1px;
    border-color:black;
}

.JXGimage {
    opacity:1.0;
}

.JXGimageHighlight {
    opacity:0.6;
}


/* ================================================================================ */
/* ================================ CONIC SECTIONS ================================ */

.PiHighlight {
    color: #C00;
    padding: 0 4px 0 4px;
    border: 1px solid #C00;
    margin: -1px 3px;
    border-radius: 8px;
    box-shadow: inset 0 0 5px #C00;
}

#PiDigits {
    height: 240px;
    overflow: scroll;
    -webkit-overflow-scrolling:touch;
    box-shadow: inset 0 -1px 2px rgba(0,0,0,0.2);
}

.PiString {
    display: inline;
    padding-bottom: 1px;
    margin: 0 10px 5px 10px;
    width: 70px;
}

#PiNot {
    opacity: 0;
    font-style: italic;
    color: #C00;
}
#PiNot.on { opacity: 1; }

#conics-box {
    width: 100%;
    max-width: 760px;
    height: 270px;
    margin-bottom: 1.25em;
    background-image: url(../resources/Conic_Sections/cone_table.jpg);
    cursor: ew-resize;
    background-size: 100% 100%;
}

#conics-cone {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}

#conics-cone img {
    max-width: 760px;
    max-height: 270px;
}

#kepler {
    width: 100%;
    height: 280px;
    background-image: url(../resources/Conic_Sections/kepler/kepler1.png);
    background-size: 600% 300%;
}


/* ========================================================================== */
/* ================================ FRACTALS ================================ */

#fracPascal { position: relative; margin-bottom: 10px; }

#fracPascal1, #fracPascal2 {
    width: 100%;
    height: auto;
    top: 0;
}

#fracPascal2 {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    -webkit-transition: opacity 1s;
       -moz-transition: opacity 1s;
            transition: opacity 1s;
}


#fracAutoRules { margin-bottom: 10px; }

.fracAutoRule {
    width: 52px;
    height: 35px;
    float: left;
    cursor: pointer;
    margin: 0 5px 5px 0;
    background-image: url(../resources/Fractals/auto-rules.png);
}

#fracRule2 { background-position:  -51px 0; }
#fracRule3 { background-position: -102px 0; }
#fracRule4 { background-position: -153px 0; }
#fracRule5 { background-position: -204px 0; }
#fracRule6 { background-position: -255px 0; }
#fracRule7 { background-position: -306px 0; }
#fracRule8 { background-position: -357px 0; }

#fracRule1.on { background-position:      0 -35px; }
#fracRule2.on { background-position:  -51px -35px; }
#fracRule3.on { background-position: -102px -35px; }
#fracRule4.on { background-position: -153px -35px; }
#fracRule5.on { background-position: -204px -35px; }
#fracRule6.on { background-position: -255px -35px; }
#fracRule7.on { background-position: -306px -35px; }
#fracRule8.on { background-position: -357px -35px; }

#fracAutoTable {
    table-layout: fixed;
    border-collapse: collapse;
    margin-bottom: 10px;
}

#fracAutoTable td    { border: 1px solid #000; background: #FFF; width: 16px; height: 16px; padding: 0; }
#fracAutoTable td.on { background: #000; }

#fractTargetTable { margin: 0 auto 1em auto; font-size: .9em; }

#fractTargetTable td { text-align: center; max-width: 100px; white-space: nowrap; padding: 0 4px; opacity: 0.5; }
#fractTargetTable tr td:last-child { opacity: 1; }


#mandelWrap {
    overflow: hidden;
    width: 100%;
    height: 450px;
    position: relative;
    background: url(../images/loading@2x.gif) no-repeat center;
}

#mandelWrap .mandelImg {
    display: none;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;

    -webkit-transition: -webkit-transform .8s, opacity .8s;
    -moz-transition: -moz-transform .8s, opacity .8s;
    transition: -webkit-transform .8s, opacity .8s;
    transition: transform .8s, opacity .8s;

    -webkit-transform: scale3D(0.0625,0.0625,1);
    -moz-transform: scale3D(0.0625,0.0625,1);
    transform: scale3D(0.0625,0.0625,1);
}

#mandelWrap .mandelPrev2 {
    -webkit-transform: scale3D(4,4,1);
    -moz-transform: scale3D(4,4,1);
    transform: scale3D(4,4,1);
    opacity: 1;
}

#mandelWrap .mandelPrev {
    display: block;
    -webkit-transform: scale3D(4,4,1);
    -moz-transform: scale3D(4,4,1);
    transform: scale3D(4,4,1);
    opacity: 1;
}

#mandelWrap .mandelOn {
    display: block;
    -webkit-transform: scale3D(1,1,1);
    -moz-transform: scale3D(1,1,1);
    transform: scale3D(1,1,1);
    opacity: 1;
}

#mandelWrap .mandelNext {
    display: block;
    -webkit-transform: scale3D(0.25,0.25,1);
    -moz-transform: scale3D(0.25,0.25,1);
    transform: scale3D(0.25,0.25,1);
    opacity: 1;
}

#mandelWrap .mandelNext2 {
    display: block;
    -webkit-transform: scale3D(0.0625,0.0625,1);
    -moz-transform: scale3D(0.0625,0.0625,1);
    transform: scale3D(0.0625,0.0625,1);
    opacity: 0;
}

#mandelPlus, #mandelMinus {
    width: 24px;
    height: 24px;
    position: absolute;
    background-image: url(../resources/Fractals/plusminus.png);
    bottom: 24px;
    cursor: pointer;
    opacity: 0.5;

    -webkit-transition: opacity .4s;
    -moz-transition: opacity .4s;
    transition: opacity .4s;
}
#mandelPlus:hover, #mandelMinus:hover { opacity: 1; }

#mandelMinus { left:  30%; background-position: 24px 0; }
#mandelPlus  { right: 30%; }

#mandelScale {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #FFF;
    bottom: 24px;
    text-shadow: 0 1px 4px rgba(0,0,0,0.9);
}

#fracDimBar .boxTabLink {
    -webkit-transition: left 1.2s;
    -moz-transition: left 1.2s;
    transition: left 1.2s;
}

#mandelMove {
    position: relative;
}

#mandelTarget {
    width: 44px;
    height: 44px;
    margin: -22px 0 0 -22px;
    background: url(../resources/Fractals/target.png) center no-repeat;
    position: absolute;
    top: 49.5%;
    left: 90.5%;
    cursor:move;
}


/* ========================================================================= */
/* ================================ CREDITS ================================ */

article p.creditsx { padding: 0 0 0.6em 0; color: #999; font-size: 0.9em; font-weight: 400; text-align: left; }
article .rbox.creditsx { margin: 0; max-width: auto; }


/* ============================================================================ */
/* ================================ DIMENSIONS ================================ */

#sphereTable .lblue { margin-bottom: .1em; font-size: 1.25em; }

.LetterBox { max-width: 100px; margin: 0 auto; }

.Letter {
    width: 100%;
    max-width: 100px;
    background-image: url(../resources/Dimensions_and_Distortions/letters.png);
    background-size: 1200% 1000%;
}

#Letter1 { background-position: 0     0; }
#Letter2 { background-position: 0 -100%; }
#Letter3 { background-position: 0 -200%; }
#Letter4 { background-position: 0 -300%; }
#Letter5 { background-position: 0 -400%; }
#Letter6 { background-position: 0 -500%; }
#Letter7 { background-position: 0 -600%; }
#Letter8 { background-position: 0 -700%; }
#Letter9 { background-position: 0 -800%; }
#Letter10 { background-position: 0 -900%; }



/* =========================================================================== */
/* ================================ SEQUENCES ================================ */

#pascalTable td {
    padding: 0.1em;
}

article table .seq_pasc_cell {
    border: solid 1px #AAA;
    background: #EEE;
    background-image: -webkit-linear-gradient(top, #FFF 0%, #DDD 100%);
    background-image:    -moz-linear-gradient(top, #FFF 0%, #DDD 100%);
    background-image:         linear-gradient(to bottom, #FFF 0%, #DDD 100%);
}
.seq_tiny { font-size: 10px; position: relative; bottom: 3px; }

.selector { display: inline-block; border: 1px #666 solid; border-radius: 5px; cursor: pointer; margin: 24px auto 16px auto; }
.selector li { display: inline-block; height: 16px; padding: 3px 10px 3px 10px; margin: 0; border-right: 1px #666 solid; font-size: 14px; -webkit-box-shadow: 1px 0 0 #FFF; -moz-box-shadow: 1px 0 0 #FFF; box-shadow: 1px 0 0 #FFF; }
.selector li:last-child { border: none; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; }
.selector li:hover, .selector li:active, .selector li.active { background-image: url(../images/tabs.png); color: #FFF; text-shadow: 0 -1px 0 #000; }
.selector .sel_w:hover, .selector .sel_w:active, .selector .sel_w.active { color: #000; text-shadow: 0 1px 0 #FFF; }



.pascalWrap { margin-bottom: 1em; position: relative; padding: 0; margin: 25px 15px 15px 15px; }
.pascalWrap img { width: 100%; height:auto; display: block; }
.pascalImg, .modularImg {
    position: absolute; top: 0; opacity: 1;
    -webkit-transition: opacity .5s linear;
       -moz-transition: opacity .5s linear;
            transition: opacity .5s linear;
}
.pascalImg.off, .modularImg.off {  opacity: 0; }


/* ======================================================================================== */
/* ================================ POLYGONS AND POLYHEDRA ================================ */

#PolyAngle2, #PolyAngle3, #PolyAngle4, #PolyAngle5, #PolyAngle6 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

#PolyAngle2, #PolyAngle3 {
    opacity: 0;
    -webkit-transition: opacity 1s;
       -moz-transition: opacity 1s;
            transition: opacity 1s;
}
#PolyAngle2.on, #PolyAngle3.on { opacity: 1; }

#PolyAngle4, #PolyAngle5, #PolyAngle6 {
    -webkit-transition: -webkit-transform 1s;
       -moz-transition: -moz-transform 1s;
            transition: transform 1s;
}

#PolyAngle4 {
    -webkit-transform: translate(20%,75.4%);
       -moz-transform: translate(20%,75.4%);
            transform: translate(20%,75.4%);
}

#PolyAngle6 {
    -webkit-transform: translate(-68%,75.5%);
       -moz-transform: translate(-68%,75.5%);
            transform: translate(-68%,75.5%);
}

#PolyAngle5 {
    -webkit-transform: translate(39.5%,-51%) rotate(-180deg);
       -moz-transform: translate(39.5%,-51%) rotate(-180deg);
            transform: translate(39.5%,-51%) rotate(-180deg);
}

#PolyAngle4.on, #PolyAngle5.on, #PolyAngle6.on {
    -webkit-transform: translate(0,0) rotate(0);
       -moz-transform: translate(0,0) rotate(0);
            transform: translate(0,0) rotate(0);
}

#penroseWrap { position: relative; display: inline-block; }
#penroseWrap img { display: block; }
#penroseOverlay { position: absolute; top: 0; width: 100%; height: auto; opacity: 0; cursor: pointer;
    -webkit-transition: opacity .5s;
       -moz-transition: opacity .5s;
            transition: opacity .5s;
}
#penroseOverlay.on { opacity: 1; }

.draw_icons img { opacity: 0.6; cursor: pointer; margin: 0 6px 0 6px }
.draw_icons img:hover { opacity: 1 }
#draw_frame { position: relative; overflow: hidden; height: 300px; }
.draw {
    cursor: move;
    position: absolute;
    top: 40%;
    left: 40%;

    -webkit-transition: -webkit-transform 0.1s linear;
       -moz-transition:    -moz-transform 0.1s linear;
            transition:         transform 0.1s linear;

    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
            transform: rotate(0deg);
}

.d_3 { background-image: url(../resources/Polygons_and_Polyhedra/can_3.png); width: 40px; height: 35px; }
.d_4 { background-image: url(../resources/Polygons_and_Polyhedra/can_4.png); width: 40px; height: 40px; }
.d_5 { background-image: url(../resources/Polygons_and_Polyhedra/can_5.png); width: 64px; height: 62px; }
.d_6 { background-image: url(../resources/Polygons_and_Polyhedra/can_6.png); width: 76px; height: 68px; }
.d_8 { background-image: url(../resources/Polygons_and_Polyhedra/can_8.png); width: 92px; height: 92px; }

#dual1, #dual2 {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background-size: 600% 100%;
}

#dual1 { background-image: url(../resources/Polygons_and_Polyhedra/Dual/dual1-1.png); }
#dual2 { background-image: url(../resources/Polygons_and_Polyhedra/Dual/dual2-1.png); }


/* ===================================================================================== */
/* ================================ SYMMETRY AND GROUPS ================================ */

.SymBox {
    margin: 4% 0 4% 4%;
    width: 44%;
    padding-bottom: 44%;
    float: left;
}

.SymLarge, .SymSmall {
    width: 200%;
    height: 200%;
    position: absolute;
    top: -50%;
    left: -50%;
    max-width: none !important;
}

.SymSmall {
    width: 142.22%;
    height: 142.22%;
    top: -21.11%;
    left: -21.11%;
}

#RotBox1 .SymLarge {
    top: -40%;
}

#Ref1b, #Ref2b, #Rot1b, #Rot1c, #Rot2b {
    -webkit-transition: -webkit-transform 2s;
    -moz-transition: -moz-transform 2s;
    transition: -webkit-transform 2s;
    transition: transform 2s;
}

#Ref1b, #Ref2b {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    transform: scaleX(1);
}

#Ref1b.on, #Ref2b.on {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    transform: scaleX(-1);
}

#Rot1b, #Rot1c.on1 {
    -webkit-transform: rotate(-120deg);
    -moz-transform: rotate(-120deg);
    transform: rotate(-120deg);
}

#Rot1c {
    -webkit-transform: rotate(-240deg);
    -moz-transform: rotate(-240deg);
    -ms-transform: rotate(-240deg);
    -o-transform: rotate(-240deg);
    transform: rotate(-240deg);
}

#Rot1b.on1, #Rot1c.on2, #Rot2b {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
}

#Rot2b.on {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

#SymTrans1 {
    background-image: url(../resources/Symmetry_and_Groups/symmetry/Trans1.jpg);
    background-size: cover;
    width: 100%;
    padding-bottom: 100%;
    position: absolute;
}

#SymTrans2 {
    background-image: url(../resources/Symmetry_and_Groups/symmetry/Trans2.jpg);
    background-size: cover;
    width: 100%;
    padding-bottom: 100%;
    position: absolute;
}

#SymTrans1.on1, #SymTrans2.on1 { background-position: -100% 0; }
#SymTrans1.on2, #SymTrans2.on2 { background-position: -200% 0; }
#SymTrans1.on3, #SymTrans2.on3 { background-position: -300% 0; }

.SymBoxWrap {
    line-height: 1;
    padding-bottom: 10px;
}

.sym_button, #sym_clear {
    padding: 5px;
    background: #FFF;
    border: 1px solid #AAA;
    display: inline-block;
    margin: 0 4px 0 4px;
    cursor: pointer;
    text-align: center;
    width: 62px;
    height: 48px;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
#sym_clear  { padding-top: 12px; }
.sym_button:hover, #sym_clear:hover, .sym_button1:hover, .sym_button1.active { box-shadow: inset 0 1px 4px rgba(0,0,0,0.3); background: #DDD; }
#sym_left img { margin: 2px 0 2px 0 }
#sym_right { float: right; margin: 2px 0 8px 20px; }


.IsoBox {
    position: relative;
    margin: 4%;
    overflow: hidden;
    padding-bottom: 61.8%;
    height: 0;
}

.IsoImg { max-width: none; width: 100%; height: auto; display: block; }
#Iso1, #Iso2, #Iso3, #Iso4 { position: absolute; top: 0; left: 0; }

#Iso1 {
    width: 122.22222%;
    top: -12.5%;
    left: -11.11111%;
}

#Iso2 {
    width: 133.33333%;
    top: -50%;
    left: -16.66667%;
}

#Iso3, #Iso4 {
    width: 100%;
}

#Iso1Slider, #Iso2Slider, #Iso3Slider, #Iso4Slider { margin: 16px auto 20px auto; }


/* =============================================================================== */
/* ================================ PRIME NUMBERS ================================ */

.primes { margin-top: 0 !important; }

.primes td { padding: 5px !important; }

.prime_box {
    width: 30px;
    height: 18px;
    padding: 6px 0 6px 0;
    text-shadow: 0 1px 0 #FFF;
    border-radius: 15px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.8);
    opacity: 1;

    -webkit-transition: opacity 0.8s;
       -moz-transition: opacity 0.8s;
            transition: opacity 0.8s;

    background: #FFF ;
    background-image: -webkit-linear-gradient(top, #FFF 0%, #CCC 100%);
    background-image:    -moz-linear-gradient(top, #FFF 0%, #CCC 100%);
    background-image:         linear-gradient(to bottom, #FFF 0%, #CCC 100%);
}

.box .prime_sub {
    padding: 0.6em;
}

.box .prime_sub p {
    opacity: 1;
    text-align: center;
    margin: 0;
    -webkit-transition: opacity 0.8s;
       -moz-transition: opacity 0.8s;
            transition: opacity 0.8s;
}

.prime_opac { opacity: 0.2; }
.prime_gone, .box .prime_sub p.prime_gone { opacity: 0; }

.prime_2 { color: #FFF; text-shadow: none; background: #F00;
    background-image: -webkit-linear-gradient(top, #F00 0%, #600 100%);
    background-image:    -moz-linear-gradient(top, #F00 0%, #600 100%);
    background-image:         linear-gradient(to bottom, #F00 0%, #600 100%);
}
.prime_2_1:hover { background: #B20000;
    background-image: -webkit-linear-gradient(top, #B20000 0%, #400000 100%);
    background-image:    -moz-linear-gradient(top, #B20000 0%, #400000 100%);
    background-image:         linear-gradient(to bottom, #B20000 0%, #400000 100%);
}

.prime_3 { color: #FFF; text-shadow: none; background: #0080FF ;
    background-image: -webkit-linear-gradient(top, #0080FF 0%, #036 100%);
    background-image:    -moz-linear-gradient(top, #0080FF 0%, #036 100%);
    background-image:         linear-gradient(to bottom, #0080FF 0%, #036 100%);
}
.prime_3_1:hover { background: #0059B2;
    background-image: -webkit-linear-gradient(top, #0059B2 0%, #002040 100%);
    background-image:    -moz-linear-gradient(top, #0059B2 0%, #002040 100%);
    background-image:         linear-gradient(to bottom, #0059B2 0%, #002040 100%);
}

.prime_5 { color: #FFF; text-shadow: none; background: #0F0 ;
    background-image: -webkit-linear-gradient(top, #0F0 0%, #060 100%);
    background-image:    -moz-linear-gradient(top, #0F0 0%, #060 100%);
    background-image:         linear-gradient(to bottom, #0F0 0%, #060 100%);
}
.prime_5_1:hover { background: #00B200;
    background-image: -webkit-linear-gradient(top, #00B200 0%, #004000 100%);
    background-image:    -moz-linear-gradient(top, #00B200 0%, #004000 100%);
    background-image:         linear-gradient(to bottom, #00B200 0%, #004000 100%);
}

.prime_7 { color: #FFF; text-shadow: none; background: #FFBF00 ;
    background-image: -webkit-linear-gradient(top, #FFBF00 0%, #664C00 100%);
    background-image:    -moz-linear-gradient(top, #FFBF00 0%, #664C00 100%);
    background-image:         linear-gradient(to bottom, #FFBF00 0%, #664C00 100%);
}
.prime_7_1:hover { background: #B28500;
    background-image: -webkit-linear-gradient(top, #B28500 0%, #403000 100%);
    background-image:    -moz-linear-gradient(top, #B28500 0%, #403000 100%);
    background-image:         linear-gradient(to bottom, #B28500 0%, #403000 100%);
}

.prime_11 { color: #FFF; text-shadow: none; background: #8000FF ;
    background-image: -webkit-linear-gradient(top, #8000FF 0%, #306 100%);
    background-image:    -moz-linear-gradient(top, #8000FF 0%, #306 100%);
    background-image:         linear-gradient(to bottom, #8000FF 0%, #306 100%);
}
.prime_11_1:hover { background: #5900B2;
    background-image: -webkit-linear-gradient(top, #5900B2 0%, #200040 100%);
    background-image:    -moz-linear-gradient(top, #5900B2 0%, #200040 100%);
    background-image:         linear-gradient(to bottom, #5900B2 0%, #200040 100%);
}


/* =============================================================================== */
/* ================================ COMBINATORICS ================================ */

#factorials {
    background-image: url(../resources/Combinatorics/factorials.png);
    width: 346px;
    height: 70px;
    display: inline-block;
}

#myPermutations {
    background-image: url(../resources/Combinatorics/permutations.png);
    width: 210px;
    height: 70px;
    display: inline-block;
}


/* =============================================================================== */
/* ================================== INFINITY ================================== */

#cantor4box {
    width:180px;
    height: 190px;
    margin: 0 auto 0 auto;
    background-image:url(../resources/Infinity/Cantor4.png);
}

#cantor2box{
    width:530px;
    max-width: 100%;
    height: 108px;
    margin: 0 auto 0 auto;
    background-image:url(../resources/Infinity/Cantor2.png);
}



/* ================================================================================== */
/* ================================ AXIOMS AND PROOF ================================ */

#images {
    display: none;
}

#Hanoi {
    margin: 20px auto;
    width: 100%;
}

#HanoiGame {
    width: 100%;
    height: 190px;
    position: relative;
    overflow: hidden;

    border-bottom: 1px solid #AAA;
    margin-bottom: 10px;
}

.HanoiMoves {
    font-weight: 600;
    display: inline-block;
    border: 1px solid #D90000;
    padding: 3px 6px;
    line-height: 1.2;
    border-radius: 2px;
    background-color: #FFF;
}


/* ============================================================================= */
/* ================================ PROBABILITY ================================ */

#rollOnce, #roll100,  #roll1000 { width: auto; display: inline-block; padding: 0 .5em 0 .5em; margin-right: .7em; }

#probTable { width: 100%; table-layout: fixed; text-align: center; margin: 0; }
#probTable td { overflow: hidden; padding: 6px 0; border-bottom: 1px solid #DDD; }
#probTable tr:last-child td { border-bottom: none; }

.dice {
    width: 22px;
    height: 13px;
    background: #C00;
    color: #FFF;
    display: inline-block;
    padding: 5px 0 4px 0;
    border-radius: 4px;
    line-height: 1;
    font-size: .8em;
}

.pBox { width: 100%; height: 200px; position: relative;}
.diceCount { width: 100%; position: absolute; bottom: 0; background: #006DD9; height: 0%; opacity: 0.4;}
.diceProb  { width: 100%; position: absolute; bottom: 0; background: #00B200; height: 3px; }

#Radioactive {
    width: 300px;
    max-width: 100%;
    height: 0;
    padding-bottom: 66.667%;
    position: relative;
}

#Radioactive > div {
    position: absolute;
    width: 6.667%; height: 10%;
    background-image: url(../resources/Probability/atom1.png);
    background-size: 100% 100%;
}

#Radioactive > div.on {
    background-image: url(../resources/Probability/atom.png);
}


/* ============================================================================= */
/* ================================ GAME THEORY ================================ */

#choc_1_wrap {
    width: 420px;
    margin: 12px auto 0 auto;
    position: relative;
}

.choc_box {
    float: left;
    margin: 15px;
    width: 180px;
    height: 175px;
    padding: 5px 0 0 0;

    background-image: url(../resources/Game_Theory/box.jpg);
}

td.choc {
    width: 45px;
    height: 45px;
    background-image: url(../resources/Game_Theory/chocolates.png);
    padding: 0;
    opacity: 1;

    -webkit-transition: opacity 0.5s;
       -moz-transition: opacity 0.5s;
            transition: opacity 0.5s;
}

td.ch_1 { background-position:      0 0; }
td.ch_2 { background-position:  -45px 0; }
td.ch_3 { background-position:  -90px 0; }
td.ch_4 { background-position: -135px 0; }
td.ch_5 { background-position: -180px 0; }
td.ch_6 { background-position: -225px 0; }
td.ch_7 { background-position: -270px 0; }
td.ch_8 { background-position: -315px 0; }
td.ch_9 { background-position: -360px 0; }

.choc_box.on td.ch_1:hover { background-position:      0 -45px; }
.choc_box.on td.ch_2:hover { background-position:  -45px -45px; }
.choc_box.on td.ch_3:hover { background-position:  -90px -45px; }
.choc_box.on td.ch_4:hover { background-position: -135px -45px; }
.choc_box.on td.ch_5:hover { background-position: -180px -45px; }
.choc_box.on td.ch_6:hover { background-position: -225px -45px; }
.choc_box.on td.ch_7:hover { background-position: -270px -45px; }
.choc_box.on td.ch_8:hover { background-position: -315px -45px; }
.choc_box.on td.ch_9:hover { background-position: -360px -45px; }

.choc_box.on td.choc { cursor: pointer; }
.choc_box.on td.choc.off, td.choc.off { opacity: 0; cursor: auto; }

#chocButton {
    width: 200px;
    opacity: 0.5;

    -webkit-transition: opacity 0.5s;
       -moz-transition: opacity 0.5s;
            transition: opacity 0.5s;
}

#chocButton.on  { opacity: 1; }
#chocButton.off { opacity: 0; }



#GamesSlide1Wrap, #GamesSlide2Wrap {
    position: relative;
    margin: 0 auto;
    max-width: 100%;
}
#GamesSlide1Wrap { width: 670px; }
#GamesSlide2Wrap { width: 450px; }

.choc_sl2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;

    -webkit-transition: opacity 0.5s;
       -moz-transition: opacity 0.5s;
            transition: opacity 0.5s;
}


#NimTable {
    margin: 0 auto 1em auto;
    max-width: 100%;
}

#NimTable td {
    width: 100px;
    vertical-align: bottom;
}


.NimCounter {
    margin: 1px;
    border: 2px solid #A00;
    background: #D00;
    border-radius: 4px;
    height: 16px;
    opacity: 1;
    cursor: pointer;

    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    transition: opacity .3s;
}

.NimCounter.half { opacity: .3; }
.NimCounter.off  { opacity: 0; cursor: default; }

#NimTable tr td:nth-child(2) .NimCounter { border: 2px solid #00A; background: #00D; }
#NimTable tr td:nth-child(3) .NimCounter { border: 2px solid #0A0; background: #0D0; }
#NimTable tr td:nth-child(4) .NimCounter { border: 2px solid #A40; background: #D70; }
#NimTable tr td:nth-child(5) .NimCounter { border: 2px solid #0AA; background: #0DD; }
#NimTable tr td:nth-child(6) .NimCounter { border: 2px solid #AA0; background: #DD0; }
#NimTable tr td:nth-child(7) .NimCounter { border: 2px solid #A0A; background: #D0D; }

#NimText {
    display: inline-block;
    font-family: "futura-pt", Futura Std, "Futura", "Helvetica", sans-serif;
}

#NimText, #NimButton {
    font-size: 16px;
    margin-right: 10px;
    width: 150px;
    padding: 2px;
}

#NimWon, #NimLost {
    position: absolute;
    z-index: 10;
    width: 340px;
    left: 50%;
    top: 20px;
    margin-left: -180px;
    font-family: "futura-pt", Futura Std, "Futura", "Helvetica", sans-serif;
    padding: 8px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.4);
}
#NimWon  { background: #3F3; border: 1px solid #0B0; }
#NimLost { background: #F33; border: 1px solid #B00; }

#NimWon.off, #NimLost.off { display: none; }


.prop {
    border: 1px solid #AAA;
    line-height: 1;
    padding: 1px 4px 2px 4px;
    border-radius: 2px;
    background:#DDD;
    display: inline-block;
}

.truthTable { table-layout: fixed; }
.truthTable td { padding: 0.1em }
.truthTable tr:hover td { background: #EEE; }
.truthTable tr:first-of-type td { border-bottom: 1px solid #CCC; padding-bottom: 0.2em; }
.truthTable tr td:last-of-type { border-left: 1px solid #CCC; }


/* ============================================================================== */
/* ================================ RETINA RULES ================================ */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {

    .slideshowLeft, .slideshowRight {
        background-image: url(../images/box@2x.png); background-size: 166px 72px;
    }

    .Letter { background-image: url(../resources/Dimensions_and_Distortions/letters@2x.png); }

    #kepler { background-image: url(../resources/Conic_Sections/kepler/kepler1@2x.png); }

    #dual1 { background-image: url(../resources/Polygons_and_Polyhedra/Dual/dual1-1@2x.png); }
    #dual2 { background-image: url(../resources/Polygons_and_Polyhedra/Dual/dual2-1@2x.png); }

    #Permutations { background-image: url(../resources/Combinatorics/factorials@2x.png); background-size: 346px 490px; }

    #conics-box { background-image: url(../resources/Conic_Sections/cone_table@2x.jpg); }

    .d_3 { background-image: url(../resources/Polygons_and_Polyhedra/can_3@2x.png); background-size: 40px 35px; }
    .d_4 { background-image: url(../resources/Polygons_and_Polyhedra/can_4@2x.png); background-size: 40px 40px; }
    .d_5 { background-image: url(../resources/Polygons_and_Polyhedra/can_5@2x.png); background-size: 64px 62px; }
    .d_6 { background-image: url(../resources/Polygons_and_Polyhedra/can_6@2x.png); background-size: 76px 68px; }
    .d_8 { background-image: url(../resources/Polygons_and_Polyhedra/can_8@2x.png); background-size: 92px 92px; }

    #Radioactive > div    { background-image: url(../resources/Probability/atom1@2x.png); }
    #Radioactive > div.on { background-image: url(../resources/Probability/atom@2x.png);  }

    #factorials {
        background-image: url(../resources/Combinatorics/factorials@2x.png);
        background-size: 346px 490px;
    }

    #myPermutations {
        background-image: url(../resources/Combinatorics/permutations@2x.png);
        background-size: 840px 280px;
    }

    .choc_box {
        background-image: url(../resources/Game_Theory/box@2x.jpg);
        background-size: 180px 180px; -webkit-background-size: 180px 180px;
    }

    td.choc {
        background-image: url(../resources/Game_Theory/chocolates@2x.png);
        background-size: 405px 90px; -webkit-background-size: 405px 90px;
    }

    .fracAutoRule {
        background-image: url(../resources/Fractals/auto-rules@2x.png);
        background-size: 409px 70px; -webkit-background-size: 409px 70px;
    }

    #mandelPlus, #mandelMinus {
        background-image: url(../resources/Fractals/plusminus@2x.png);
        background-size: 48px 24px; -webkit-background-size: 48px 24px;
    }

    #mandelTarget {
        background-image: url(../resources/Fractals/target@2x.png);
        background-size: 35px 35px; -webkit-background-size: 35px 35px;
    }

    #cantor4box {
        background-image:url(../resources/Infinity/Cantor4@2x.png);
        background-size: 2160px 190px;
    }

    #cantor2box{
        background-image:url(../resources/Infinity/Cantor2@2x.png);
        background-size: 530px 1310px;
    }

}
